.product-section {
    padding: 2rem;
    padding-left: var(--main-padding-left-right);
    padding-right: var(--main-padding-left-right);
}


.product-section__products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.products-container__product {
    display: flex;
    padding: .5rem;
    flex-direction: column;
    align-items: center;
    border: 2px solid #a3a3a3;
    width: 22.9%;
    transition: all .3s ease-out;
}


.products-container__product:hover {
    border: 2px solid var(--primary-color);
    transform: translateY(-5px)
}

.product-header > img {
    max-width: 100%;
    height: auto;
}

.product-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-out;
}

.products-container__product:hover > .product-body {
    border-bottom: 2px solid var(--primary-color);
}

.product-body__name {
    line-height: 1;
    font-size: 1rem;
}

.product-body__price {
    color: var(--primary-color);
    font-weight: bolder;
}


.product-footer {
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 1rem;
}

.product-footer__item {
    display: flex;
    border-top: 2px solid #a3a3a3;
    justify-content: center;
    position: relative;
}

.product-footer__item > .item__button {
    cursor: pointer;
    color: #000;
    padding: 7px;
    border-radius: 50%;
    background-color: transparent;
    transition: all .3s ease;
}

.product-footer__item > .item__button:hover {
    color: var(--primary-color);
    background-color: #e7e7e74d;
}

.item__message {
    display: none;
    top: 0;
    opacity: .8;
    min-width: 140px;
    font-size: .9rem;
    position: absolute;
    background-color: var(--dark-color);
    color: #fff;
    padding: .5rem;
    transform: translateY(-2.7rem);
    transition: all .3s ease;
}

.product-footer__item > button:hover + .item__message {
    display: flex;
   justify-content: center;
}


@media only screen and (max-width: 768px) {
    .product-section {
        padding: 1.5rem;
    }

    .products-container__product {
        width: 48%;
    }
}

@media only screen and (max-width: 560px) {
    .product-section__products-container {
        flex-direction: column;
        align-items: center;
    }

    .products-container__product {
        width: 85%;
    }
}

@media only screen and (max-width: 512px) {
    .product-section {
        padding-top: 0;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}