<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    <title>ERROR</title>
</head>
<body>
    <div class="error-container">
        <div class="error-card">
            <h1>Algo ha salido mal!</h1>
            <h3 class="error-code">Error {{ code }}</h3>
        </div>
    </div>
</body>
</html>