{% import 'base.html' as b %}
<!DOCTYPE html>
<html lang="es">
<head>
    {{ b.head_one() }}

    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/render.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/socket.js') }}" defer></script>
    {{ b.head_two_scripts() }}
    <!--  -->
</head>
<body>
    {{ b.charging_section() }}

    <section class="main-container">
        {{ b.header() }}
        {{ b.menu() }}
    
        <main class="product-section">
            <h1 class="product-section__title">Productos</h1>
            <div class="product-section__products-container">
            </div>
            <button class="shopping-cart-button">
                <span class="material-symbols-outlined">shopping_cart</span>
            </button>
        </main>

        {{ b.shopping_cart() }}
        {{ b.footer() }}
    </section>
</body>
</html>